.login-screen{
    position: relative;
    height: 100vh;
    background: url('../assets/img/bg-cover.png') center no-repeat;
    background-size: cover;
    width: 100%;
    
}

.login-screen-body{
    position: absolute;
    top: 27%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-screen-body h1{
    font-size: 3.125rem;
    margin-bottom: 18px;
}

.login-screen-body h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}


.login-screen-body h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.login-screen-gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.login-screen-logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}


.login-screen-btn{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}
.login-screen-btn:hover{
    background-color:#f32f39
}
.login-screen-input{
    margin: 20px;
}
.login-screen-input > form > input{
    width: 35%;
    padding: 10px;
    outline: none;
    height: 30px;
    font-size: 1rem;
    border: none;
    max-width: 600px;
}

.login-screen-input > form > button{
    padding: 15.5px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: #e50914;
    cursor: pointer;
}

.login-screen-input > form > button:hover{
    background-color: #f32f39
}